html,
#root {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  /* border: blue solid 2px; */
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #343047;
  color: azure;
  min-height: 500px;
  margin: 0;
}
h1 {
  font-size: 2rem;
}

.container {
  /* border: blue solid 3px; */
  height: 100%;
  /* min-height: 100vh; */
  /* background-color: aliceblue; */
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  /* overflow: hidden; */
}

.headInfo {
  background-color: #777787;
  padding: 0.25rem;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.headInfo__logo {
  /* border: aqua solid 2px; */
  /* width: 20%; */
  max-width: 160px;
  min-width: 8rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headInfo__logo img {
  width: 120px;
  height: 120px;
  object-fit: cover;

  border-radius: 50%;
  border: 4px solid #343047;
}
.head__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: auto;
  /* border: aqua solid 2px; */
}

.headInfo__title {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  text-align: center;
}
.headInfo__contacts {
  /* height: 100%; */
  flex: 1 1 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contacts__item {
  margin: 0.125rem 0.5rem;
  /* padding: 0 0.125rem; */
  display: block;
}

main {
  /* border: springgreen 2px solid; */
  padding: 0.5rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.nav-btn {
  margin-left: 0.5rem;
  border-color: transparent;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  background-color: #46435cda;
  color: azure;
  text-align: start;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 0.85rem;
}
.activ-btn,
.nav-btn:hover {
  background-color: #9c97b660;
  /* background-color: violet; */
  color: white;
  box-shadow: -2px 4px 8px #c3bce6;
}

/*--------- Slider -----------------*/
.slider {
  /* border: 2px solid green; */
  margin-top: 1rem;
  width: 95%;
  /* height: 750px; */
  position: relative;
  text-align: center;
  display: flex;
  overflow: hidden;
}
.slider::after {
  height: 100%;
}
.slider__article {
  position: absolute;
  width: 100%;
  height: 95%;
  /* border: yellow 2px solid; */
  opacity: 0%;
  transition: all 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  overflow: hidden;
}
.slider__Img {
  height: 80%;
  object-fit: cover;
}
.slider__buttonL,
.slider__buttonR {
  position: absolute;
  top: 40%;
  height: 3rem;
  width: 3rem;
  background-color: inherit;
  border: none;
}
.slider__buttonL {
  left: 0;
}
.slider__buttonR {
  right: 0;
}
.slider__arrow {
  width: 100%;
  height: 100%;
  color: azure;
}

.slider__activeSlide {
  transform: translateX(0);
  opacity: 1;
}
.slider__lastSlide {
  transform: translateX(-100%);
}
.slider__nextSlide {
  transform: translateX(100%);
}

.slider__underlineConteiner {
  /* border: solid 2px red; */
  position: absolute;
  bottom: 0.25rem;
  display: flex;
  width: 100%;
  justify-content: center;
}
.slider__underline {
  width: 3rem;
  height: 10px;
  background: #5c596d;
  margin: 0.5rem;
  border-radius: 4px;
  border: none;
  /* border-color: #5c596d; */
}
.slider__underline_active {
  background: #dad5f3;
  box-shadow: -1px 1px 8px #f6f6f8;
}
/*---------=================-----------------*/

/*--------- about -----------------*/
.about {
  /* border: 2px solid green; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-around;
}
.about__imgCont {
  min-height: 19rem;
  height: 45%;
  width: 90%;
  /* border: red 2px solid; */
  position: relative;
}
.about__img {
  /* opacity: 0%; */
  position: absolute;
  height: 80%;
  /* transition: all 1.5s cubic-bezier(0.39, 1.49, 0.66, 0.99); */
  transition: all 1.5s cubic-bezier(0.39, 1.49, 0.66, 0.99);
  transition-property: right, top, left, opacity;
  /* transition: left 1.5s cubic-bezier(0.39, 1.49, 0.66, 0.99); */
  /* transition: opacity 1.5s cubic-bezier(0.39, 1.49, 0.66, 0.99); */

  /* border:  solid 3px #4b4955; */
  border: none;
  border-radius: 1rem;
  box-shadow: -5px 5px 16px #1a191fee;
  object-fit: cover;
}
.about__img:hover {
  box-shadow: -2px 4px 16px #c3bce6;
  z-index: 3;
  /* border: solid 4px #9b98aa; */
}
.about__textCont p {
  margin-top: 1rem;
  text-align: justify;
  font-size: 1rem;
}
.about__textCont h2 {
  margin-top: 1.25rem;
  font-size: 1.25rem;
}
/*---------=================-----------------*/

/*--------- services -----------------*/
.services__article {
  /* border: orchid 2px solid; */
  height: 100%;
}

.services li {
  text-align: center;
  margin-top: 1rem;
  list-style: none;
}
.services p {
  text-align: justify;
}
.services h4 {
  text-align: center;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.services__underlineCont {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__underline {
  height: 2px;
  width: 90%;
  background: #8f8ba5;
}

/*---------=================-----------------*/

/*--------- contacts -----------------*/
.contacts__img {
  width: 95%;
  max-height: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/*---------=================-----------------*/

/*--------- contacts -----------------*/
.prices__img {
  object-fit: cover;
  height: 30rem;
  max-width: 95%;
  height: 70%;
}
.prices__p {
  padding-top: 1rem;
}

/*---------=================-----------------*/

/*--------- sectionCenter -----------------*/
.sectionCenter {
  /* border: red 2px solid; */
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  flex: 1 1 auto;
  min-height: 40rem;
  height: 100%;
}

.activeSlide {
  width: 100%;
}
.sliderImg {
  object-fit: cover;
  height: 30rem;
  width: 95%;
}

footer {
  width: 100%;
  height: 3rem;
  padding: 0.125rem 0.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #777787;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 5rem;
  }
  .headInfo__logo img {
    width: 150px;
    height: 150px;
  }

  .container {
    height: 100vh;
    max-width: 1100px;
    /* overflow: hidden; */
  }
  main {
    width: 100%;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 180px 1fr;
  }
  nav {
    padding-right: 0.25rem;
    border-right: 4px solid #423e528f;
    /* box-shadow: 4px 0px 8px #c3bce6; */
    flex-direction: column;
    justify-content: start;
  }
  .nav-btn {
    margin-bottom: 0.4rem;
    font-size: 1rem;
  }

  .about__imgCont {
    min-height: 28rem;
    width: 90%;
  }

  .sliderImg {
    height: 42rem;
    width: 40rem;
  }
}
